.back{ 
    position: fixed;
     
left: 20px;
    bottom: 15px;
    height: 30px;
    text-decoration: none;
width: 230px;
  
    font-size: 50px ;
    
    line-height: 60%;
    color: #00bed4;
    padding: 20px 30px 45px ;
    border-top: solid 2px;
}
.back::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0px;
    width: 30px;
    border-top: solid 2px;
    transform: rotate(35deg);
    transform-origin: left top;
}
